<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
     classpath:org/springframework/beans/factory/xml/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx 
     classpath:org/springframework/transaction/config/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop 
     classpath:org/springframework/aop/config/spring-aop-2.0.xsd">
    
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <import resource="aissatechContext.xml"/>   

    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean
                class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="MYSQL" />
                <property name="showSql" value="true" />
            </bean>
        </property>
    </bean>

    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        
        <!-- LOCALHOST -->         
        <property name="url" value="jdbc:mysql://localhost:3306/aissatech" />
        <property name="username" value="root" />
        <property name="password" value="" />         
        
        <!-- SERVER MOCHAHOST --> 
        <!--<property name="url" value="jdbc:mysql://mysql1000.mochahost.com/aissatec_aissatech" />
        <property name="username" value="aissatec_camelia" />
        <property name="password" value="bas2011" /> -->     
    </bean>

    <bean id="transactionManager"
        class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />
  
</beans>